<div class="page">
  <div class="main_page">
    <h1 class="main_page__title">Bienvenue sur le projet de l'équipe CartoRovers</h1>
    <div class="main_page__description">
      <p>Voici l'application de la station au sol pour l'exploration multi-robots du projet INF3995 !</p>
      <p>Pour <b>démarrer une mission</b>, appuyez sur <i>Lancer la mission</i> (Assurez-vous de bien choisir votre environnement à l'aide de 
        la bascule <b><i>En simulation</i></b> ci-dessous)</p>
      <p>Pour <b>voir les historiques des missions</b> qui ont déja été réalisées, appuyez sur <i>Historique des missions</i></p>
    </div>
    <app-mission-launch></app-mission-launch>
  </div>
</div>