

b {
    font-weight: 500;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;

    .main_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 900px;
        height: calc(94vh - 74px);
        gap: 5%;
        
        height: calc(94vh - 74px);
        width: 80%;
    
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 3%;
            
            p {
                @media screen and (max-width: 500px) {
                    font-size: 1.2em !important;
                }
                
                @media screen and (min-width: 500px) and (max-width: 800px) {
                    font-size: 1.5em !important;
                    
                }
                text-align: center;
                font-size: 1.8em;
                line-height: 1.2em;

            }
        }
    
        &__title {
            text-align: center;
            font-size: 4em;
            line-height: 1.2em;
            font-weight: 500;

            @media screen and (max-width: 500px) {
                font-size: 1.8em !important;
            }
            //specify different font for media between 500 and 800
            @media screen and (min-width: 500px) and (max-width: 800px) {
                font-size: 3em !important;
                
            }
        }
    
        app-mission-launch {
            width: 70%;
        }
    }

}    
