<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default="/"/>

    <!-- initial pose -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="use_sim_time" default="false" />

    <group ns="$(arg robot_namespace)">
        <param name="tf_prefix" value="$(arg robot_namespace)" />
        <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_ackerman.xacro'
            robot_namespace:=$(arg robot_namespace)" />

        <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
                -y $(arg y)
                -Y $(arg yaw)
                -urdf
                -param robot_description
                -robot_namespace $(arg robot_namespace)
                -model 'limo/$(arg robot_namespace)'" />

        <!-- Load joint controller configurations from YAML file to parameter master -->
        <rosparam file="$(find master)/config/limo_ackerman_control.yml" command="load"/>

        <!-- load the controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen" args="limo_state_controller
                                    limo_fl_steering_hinge_controller limo_fr_steering_hinge_controller">
        </node>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="use_sim_time" value="$(arg use_sim_time)" />
        </node>

        <node name="identify" pkg="master" type="identify" />

        <include file="$(find master)/launch/limo_control.launch">
            <arg name="robot_namespace" value="$(arg robot_namespace)"/>
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="yaw" value="$(arg yaw)"/>
        </include>
    </group>
</launch>