.scroll_box {
    
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 17vh;
    max-height: 100%;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

pre {
    margin: 3px 7px;
}