@import '../../../styles.scss';

.header {
    background-color: $color6;
    height: 6vh;
    font-size: 1.8em;
    color: white;

    @media screen and (max-width: 575px) {
        font-size: 1.1em;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__item {
        &-container {
            display: flex;
        }

        &--active {
            opacity: 0.65;
            cursor: default;
        }
        
        &:hover {
            opacity: 0.55;
        }
    }

    span {
        a {
            color: white;
            font-weight: normal;
            padding-right: 15px;
            text-decoration: none;
        }
    }
}
