<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="mission_page">
    <div class="mission_information">
        <div class="mission_information__map">
            <app-map [colors]="ROBOT_COLORS"></app-map>
        </div>
        <div class="mission_information__sidebar">
            <div class="button_container">
                <div class="button_container__group">
                    <mat-slide-toggle [disabled]="this.getIsMissionOngoing()" class="command_container command_container__toggle" [(ngModel)]="simToggle" color="primary">En simulation</mat-slide-toggle>
                </div>
                <div class="button_container__group">
                    <ng-container>
                        <button *ngIf="this.getIsMissionOngoing()" (click)="stopMission()" class="button_container__button button_container__button--red">
                            <mat-icon>close</mat-icon>
                            Terminer la mission
                        </button>
                        <button *ngIf="!this.getIsMissionOngoing()" (click)="openCreatePositionDialog()" class="button_container__button button_container__button--green">
                            <mat-icon class="material-symbols-outlined">rocket_launch</mat-icon>
                            Lancer la mission
                        </button>
                    </ng-container>
                    <button (click)="returnToBase()" [disabled]="!this.getIsMissionOngoing()" class="button_container__button button_container__button--blue">
                        <mat-icon>input</mat-icon>
                        Retour à la base
                    </button>
                    <ng-container>
                        <button *ngIf="!this.isSecurityZoneSet" [disabled]="!this.getIsMissionOngoing()" (click)="this.openCreateSecurityZoneDialog()" class="button_container__button button_container__button--lightblue">
                            <mat-icon>add_circle</mat-icon>
                            Créer une zone de sécurité
                        </button>
                        <button *ngIf="this.isSecurityZoneSet" [disabled]="!this.getIsMissionOngoing()" (click)="this.deleteSecurityZone()" class="button_container__button button_container__button--blue">
                            <mat-icon>cancel</mat-icon>
                            Supprimer la zone de sécurité
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="robot_container">
                <div class="robot_container__notabs">
                    <div *ngFor="let robot of robots; let idx = index; trackBy: robotId">
                        <h1 class="robot-title">{{robot.name}} <mat-icon [style.color]="color(idx)">square</mat-icon>
                        </h1>
                        <app-robot-state [robot]="robot" [color]="color(idx)"></app-robot-state>
                    </div>
                </div>
                <mat-tab-group class="robot_container__tabs">
                    <mat-tab [label]="robot.name" class="robot-title" *ngFor="let robot of robots; let idx = index; trackBy: robotId">                    
                        <app-robot-state
                            [robot]="robot"
                            [color]="color(idx)"
                            [style.background-color]="color(idx) + ' !important'"
                        ></app-robot-state>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="log_panel">
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Afficher les logs de la mission
                </mat-panel-title>
                </mat-expansion-panel-header>
            <app-log-display></app-log-display>
        </mat-expansion-panel>
    </div>
</div>